# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST
wheels/

# Virtual environments
.venv/
venv/
env/

# PyInstaller
*.spec.bak

# Tests / coverage
.coverage
.coverage.*
.cache
htmlcov/
.pytest_cache/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Project-specific
*.pyc
*.pyo
